.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 80px);
    /* Adjust based on header height */
    box-sizing: border-box;
}

.video {
    width: 60vw;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
    overflow: hidden;
}

.localVideo {
    border: 4px solid #3498db;
    /* Blue border for local video */
}

.remoteVideo {
    border: 4px solid #e74c3c;
    /* Red border for remote video */
}