.title {
  font-size: var(--font-size-base);
}
.instructor {
  font-size: var(--font-size-base);
}
.live {
  font-size: var(--font-size-base);

  &.on {
    color: red;
  }
  &.off {
    color: gray;
  }
}
.viewer {
  font-size: var(--font-size-base);
}
