.coverWrapper {
  height: 200; // 보여주고 싶은 영역만큼
  overflow: hidden;
  position: relative;
  border-radius: var(--radius-lg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 20%; // 또는 top 40% 등으로 조절

  @media (max-width: 768px) {
    background-position: center center;
  }
}
