.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

/* 
varient - featured_main
캐러셀 메인 이미지
*/
.featured_main {
  height: var(--size-featured-main-height);
  width: 1000px;
  overflow: hidden;
  border-radius: var(--radius-lg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 20%;

  @media (max-width: 768px) {
    background-position: center center;
  }
}

/* 
varient - featured_thumbnail
캐러셀 그리드 이미지
*/
.featured_thumbnail {
  height: var(--size-featured-thumbnail);
  width: var(--size-featured-thumbnail);
}

.featured_main>.image,
.featured_thumbnail>.image {
  border-radius: var(--radius-lg);
}

/* 
varient - banner
배너 이미지
*/
.banner {
  height: 200px;
  overflow: hidden;
  border-radius: var(--radius-lg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 20%;

  @media (max-width: 768px) {
    background-position: center center;
  }
}

/*
varient - vertical_card
세로 카드형 이미지
*/
.vertical_card {
  aspect-ratio: 3/4;
  height: 150px;
  overflow: hidden;
  border-radius: var(--radius-lg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 20%;

  @media (max-width: 768px) {
    background-position: center center;
  }
}

/*
varient - icon
아이콘 이미지
*/
.icon {
  height: 24;
  width: 24;
}

.profile {
  width: 175px;
  height: 175px;
}