.left {
  position: relative;
  flex: 1;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: fill;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.right > * {
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
