version: "3.8"

networks:
  reciplay-bridge:
    driver: bridge
    name: reciplay-bridge

services:
  mysql:
    image: mysql:8.0
    container_name: reciplay-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/initdb:/docker-entrypoint-initdb.d
    networks:
      reciplay-bridge:
        aliases:
          - mysql

  redis:
    image: redis:7
    container_name: reciplay-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./redis/data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      reciplay-bridge:
        aliases:
          - redis

  livekit-server:
    image: livekit/livekit-server:latest
    container_name: livekit-server
    command: --config /livekit.yaml
    ports:
      - "7880:7880"
      - "7881:7881"
      - "3478:3478/udp"
    volumes:
      - ./Backend/livekit.yaml:/livekit.yaml
    networks:
      reciplay-bridge:
        aliases:
          - livekit-server
    depends_on:
      - mysql
      - redis

  api-server:
    build:
      context: ./Backend
    container_name: reciplay-container
    image: molee0206/reciplay:latest
    ports:
      - "${API_PORT}:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATA_REDIS_HOST: ${SPRING_DATA_REDIS_HOST}
      SPRING_DATA_REDIS_PORT: ${SPRING_DATA_REDIS_PORT}
      LIVEKIT_SERVER_URL: ${LIVEKIT_SERVER_URL}
    networks:
      reciplay-bridge:
        aliases:
          - api-server
    depends_on:
      - mysql
      - redis
      - livekit-server

  websocket-server:
    build:
      context: ./WebsocketServer/ReciplayWebsocket
    container_name: reciplay-socket-container
    image: molee0206/reciplay-socket:latest
    ports:
      - "${SOCKET_PORT}:8080"
    networks:
      reciplay-bridge:
        aliases:
          - socket-server
    depends_on:
      - api-server