networks:
  reciplay-bridge:
    external: true

services:
  livekit-server:
    image: livekit/livekit-server:latest
    container_name: livekit-server
    command: --config /livekit.yaml
    ports:
      - "7880:7880"
      - "7881:7881"
      - "3478:3478/udp"
    volumes:
      - ./Backend/livekit.yaml:/livekit.yaml
    networks:
      reciplay-bridge:
        aliases:
          - livekit-server

  api-server:
    build:
      context: ./Backend
    container_name: reciplay-container
    image: molee0206/reciplay:latest
    ports:
      - "${API_PORT}:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      AI_LLM_BASEURL: ${AI_LLM_BASEURL}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATA_REDIS_HOST: ${SPRING_DATA_REDIS_HOST}
      SPRING_DATA_REDIS_PORT: ${SPRING_DATA_REDIS_PORT}
      LIVEKIT_SERVER_URL: ${LIVEKIT_SERVER_URL}
    networks:
      reciplay-bridge:
        aliases:
          - api-server

  websocket-server:
    build:
      context: ./WebsocketServer/ReciplayWebsocket
    container_name: reciplay-socket-container
    image: molee0206/reciplay-socket:latest
    ports:
      - "${SOCKET_PORT}:8081"
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATA_REDIS_HOST: ${SPRING_DATA_REDIS_HOST}
      SPRING_DATA_REDIS_PORT: ${SPRING_DATA_REDIS_PORT}
      LIVEKIT_SERVER_URL: ${LIVEKIT_SERVER_URL}
    networks:
      reciplay-bridge:
        aliases:
          - socket-server
    depends_on:
      - api-server