.learntitle {
  padding: 20 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.04em;
}

.soontitle {
  padding: 20 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.04em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
