.input {
  border: 1px #aaaaaa solid;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.search {
  height: 36px;
  width: 400px;
  border-radius: 50px;
  margin-bottom: 0px;
}
