.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  gap: 1.6rem;
}
.inputWithButton {
  display: flex;
  gap: 8px;
  width: 100%;
}

.inputWithButton .input {
  flex: 1;
  min-width: 0;
}

.inputWithButton button {
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
}
// .inputBox {
//   height: 48px;
// }
.checkButton {
  width: 80px;
  height: 48px !important;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0;

  &:hover {
    background-color: #0056b3; /* 호버 시 어두운 파란색 */
  }
}
