.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: #fff;
  color: #000;
}

.container:hover {
  filter: brightness(1.1);
}

/* 크기 */
.sm {
  width: 60px;
  height: 32px;
  font-size: 12px;
}

.md {
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.lg {
  width: 160px;
  height: 48px;
  font-size: 16px;
}

.inf {
  width: 100%;
  padding: 0.85rem;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin-top: 0.5rem;
  height: 3.6rem;
}

/* 스타일 유형 */
.default {
  border-radius: 8px;
}

.custom {
  border: none;
  box-shadow: 0px 4px 11.7px rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  filter: drop-shadow(0px 4px 8.7px rgba(0, 0, 0, 0.09));
}

.outline {
  border: 1px solid currentColor;
  background: transparent;
}

.ghost {
  border: none;
  background: none;
  color: black;
}

/* 링크 스타일 */
.link {
  background: transparent;
  padding: 0;
  color: #bbbbbb;
  font-size: inherit;
  display: inline;
  width: auto;
  height: auto;

  cursor: pointer;
  border: none;
  background: transparent;

  &:hover {
    color: #888;
  }
}
