.invisibleCanvas {
  display: none; // 또는 visibility: hidden;
}
.videoContainer {
  transform: scaleX(-1);
  height: 100%;
  width: 100%;
}

.videoTag {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure video covers the container */
}

.hidden {
  display: none;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
