.carouselWrapper {
  //   width: 100%;
  width: 500px;
  margin: 0 auto;
  height: 300px;
  // padding: 20px 0;
}

.bannerImage {
  width: 100%;
  height: auto;
  height: 300px;
  display: block;
  border-radius: 15px;
}
