.logo {
  font-family: var(--font-protest);
  font-size: 4.8rem;
  color: #111;
  margin: 0;
  text-align: center;
}

.tagline {
  font-size: 1.6rem;
  color: #aaa;
  font-weight: 300;
  margin: 0.25rem 0 2rem;
  text-align: center;
}
