.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.inputContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 2rem 0;
}

.placeHolder {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #AAAAAA;
}

.holderContainer {
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.addContainer {
    box-sizing: border-box;
}

.addText {
    padding-left: 5px;
    color: #007AFF;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.04em;

    cursor: pointer;
}


.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 16px;
}

.customDatePicker {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 13px;
    width: 15.625rem; // 250px ÷ 16
    height: 6rem;
    background: #ffffff;
    border: 1px solid #6c738c;
    border-radius: 5px;
    font-size: 16px;
    gap: 8px;

    // Hover & Focus 시 스타일
    &:hover,
    &:focus,
    &.ant-picker-focused {
        border-color: #007aff;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

    // 내부 인풋 스타일
    .ant-picker-input>input {
        color: #333;
        font-weight: 500;

        &::placeholder {
            color: #999;
        }
    }
}

.inputWrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    z-index: 99;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-height: 200px;
    overflow-y: auto;

    li {
        padding: 8px 12px;
        cursor: pointer;

        .name {
            font-weight: 600;
        }

        .institution {
            font-size: 12px;
            color: #888;
        }

        &:hover {
            background: #f0f0f0;
        }
    }
}

.dropdown {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

    li {
        padding: 8px 12px;
        cursor: pointer;

        .name {
            font-weight: 600;
        }

        .institution {
            font-size: 12px;
            color: #888;
        }

        &.noResult {
            padding: 12px;
            color: #999;
            cursor: default;
        }

        &:hover:not(.noResult) {
            background-color: #f5f5f5;
        }
    }
}