.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.top {
  display: flex;
  gap: 24px;
}

.profileWrapper {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.profile,
.svg {
  object-fit: cover;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  gap: 8px;
  align-items: center;
}
.svgWrapper {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 16px;
  overflow: hidden;
}
.desc {
  font-size: 16px;
  color: #666666;
}
.bio {
  font-size: 16px;
  color: #666666;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 40px;
  margin-top: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.type {
  font-size: 12px;
  color: #666666;
}

.value {
  font-size: 16px;
}

.subContent {
  display: flex;
  gap: 2.4rem;
}

.child {
  flex: 1;
  max-width: 50%;

  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 24px;
  background-color: #ffffff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.08);
}
