.status {
  border-radius: 16px;
  border: 1px #aaaaaa solid;
  padding: 24px;

  display: flex;
  justify-content: space-between;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.title {
  font-size: 20px;
  display: flex;
  align-items: end;
  gap: 8px;
}
.additionalTitle {
  color: #939393;
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: var(--font-weight-semibold);
}
