.container {
}

.type {
}

.items {
  display: flex;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.name {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
}

.subscribeNum {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
}
.more {
  margin: 24px 12px;
}
.line {
  color: #aaaaaa;
}
