.total {
  border: 1px solid #aaaaaa;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.avgNum {
  font-weight: var(--font-weight-extrabold);
  font-size: 36px;
}

.reviewNum {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
}
