.container {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: fit-content;
    margin-left: 20px;
}

.container h4 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container li {
    padding: 2px 0;
}