.video-container {
    display: flex;
    flex-direction: column;
    background: #3b3b3b;
    border-radius: 6px;
    overflow: hidden;
}

.media-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.output-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-container .participant-data {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.participant-data p {
    background: #f8f8f8;
    margin: 0;
    padding: 0 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
}

.landmark-container {
    background-color: #2c2c2c;
    color: #e0e0e0;
    z-index: 10;
    padding: 8px;
    text-align: center;
}

.landmark-container p {
    margin: 0;
}

.landmark-container pre {
    max-height: 100px;
    overflow-y: auto;
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .video-container {
        aspect-ratio: 9/16;
    }
}