.wrapper {
  height: 100%;
  overflow-y: auto;
}

.tabContainer {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  gap: 12px;
  padding: 16px;
  z-index: 10;
  border-bottom: 1px solid #ccc;
}

.section {
  height: 100vh; // 각 섹션이 한 화면 크기
  padding: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
