.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.inputContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.placeHolder {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #AAAAAA;
}

.holderContainer {
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.addContainer {
    box-sizing: border-box;
}

.addText {
    padding-left: 5px;
    color: #007AFF;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.04em;

    cursor: pointer;
}


.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 16px;
}