.divTag {
    width: 25.625rem;
    height: 20.125rem;
    // border: 1px solid black;
    margin: 0 50px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // 가운데 정렬 원하면 center
    gap: 1rem;
    box-sizing: border-box;
}

/* Schedule.module.css */
.schedule {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 25rem;

}

.schedule ul {
    padding: 0;
    margin: 0;
}

.schedule li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}