.section {
  margin: var(--spacing-lg) 0;
}

.sectionTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
}

.slide {
  display: flex;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) 0;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 16px;
  padding-bottom: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}