.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #202124;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10; // Ensure it's above other content
  min-height: 80px;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.separator {
  color: #5f6368;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

.controlButton {
  background-color: #3c4043;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #5f6368;
  }

  &.off {
    background-color: #ea4335;
    &:hover {
      background-color: #d93025;
    }
  }
}

.exit {
  background-color: #ea4335;
  &:hover {
    background-color: #d93025;
  }
}
