.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 30rem;
  padding: 2rem;
  color: white;
  border-radius: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
    // 하단 기본 그림자
    0 8px 32px rgba(0, 0, 0, 0.25),
    // 깊이감 있는 그림자
    inset 0 0 0.5px rgba(255, 255, 255, 0.1); // 안쪽 유리 테두리 느낌

  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3) 60%
    );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    // box-shadow: 0 4px 34px rgba(0, 0, 0, 0.2);
    z-index: 0;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
      // 하단 기본 그림자
      0 8px 32px rgba(0, 0, 0, 0.25),
      // 깊이감 있는 그림자
      inset 0 0 0.5px rgba(255, 255, 255, 0.1); // 안쪽 유리 테두리 느낌

    z-index: 0;
  }
}

.profileContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); // 프로필 이미지 그림자
}

.profileImageWrapper {
  position: relative;
  width: 15rem;
  height: 15rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profileImage {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  margin-left: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.glassBox {
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 3.6rem;
  font-weight: 700;
}

.tags {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.5;
}
