.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
}

.content {
  width: 100%;
  // padding: 20px;
}
// .tab {
//   margin-top: 2rem;
// }
.sections {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  margin: 2rem 0;

  > *:not(:last-child)::after {
    content: "";
    display: block;
    margin: 2rem 0;
    border-bottom: 1px solid #e5e5e5;
  }
}

.section {
  scroll-margin-top: var(--sticky-offset, 88px);
}
