.card {
    display: flex;
    gap: 5rem;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    color: rgb(66, 66, 66);
    background-color: #f3f3f3;
    box-shadow: 20px 20px 60px #dbdbdb,
        -20px -20px 60px #ffffff;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.institution {
    margin-top: 4px;
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
}

.date {
    margin-top: 4px;
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
}