.logo {
  font-family: var(--font-protest);
  font-size: var(--font-size-xl);
  margin: 0;
  color: #111;
  text-align: center;
}
.logo {
  //   background: #222; // 임시로 어두운 배경

  //   width: 400px; // canvas 기본 사이즈보다 넉넉하게
  height: 48px;
  display: block;
}
