.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f0f0f0;
}
.card {
  width: 90vw;
  max-width: 980px;
  aspect-ratio: 980 / 600;

  display: flex;
  background: #fafafa;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 12px;
  gap: 24px;
  min-height: 700px;
  align-items: stretch;
}
