.summary {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 32.2rem;
}

.category {
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-loose);
}
.title {
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  letter-spacing: var(--letter-spacing-tight);
}
.desc {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-loose);
}
.rating {
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-loose);
}
.author {
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-loose);
}

.right {
  position: relative;
  width: 25rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  /* 내부 여백 없애고, 모서리 둥글리기 */
  border-radius: 16px;
  overflow: hidden;
}
.image {
  object-fit: fill;
}

.review {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  background-color: #fff0a7;
  padding: 16px;
  border-radius: 16px;
}
.reviewBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reviewTitle {
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-normal);
}
.reviewDesc {
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-tight);
}

.status {
  border-radius: 16px;
  border: 1px #aaaaaa solid;
  padding: 24px;

  display: flex;
  justify-content: space-between;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.title {
  font-size: 20px;
  display: flex;
  align-items: end;
  gap: 8px;
}
.additionalTitle {
  color: #939393;
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: var(--font-weight-semibold);
}
