.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  // overflow: hidden;
}
// .container::-webkit-scrollbar {
//     display: none;
// }
.slide {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
