.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.6rem;
  padding: 2rem;
  border-radius: 0.8rem 0.4rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    font-size: 0.96rem;
  }
}

.left {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: -0.04em;

  @media (max-width: 900px) {
    gap: 0.7rem;
  }
  @media (max-width: 700px) {
    gap: 0.6rem;
  }
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.33;
}

.desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #858585;
}

.rating {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #444;
}

.author {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #777;
}

.right {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 900px) {
    order: -1; // 모바일에서 이미지 위로
    margin-bottom: 0.5rem;
    justify-content: flex-start;
  }
}

.imageWrapper {
  position: relative;
  width: 24rem;
  height: 16rem;
  min-width: 320px;
  min-height: 212px;
  max-width: 100vw;
  max-height: 80vh;
  border-radius: 16px;
  overflow: hidden;
  background: #ddd;

  @media (max-width: 900px) {
    width: 18rem;
    height: 12rem;
    min-width: 210px;
    min-height: 140px;
  }
  @media (max-width: 700px) {
    margin: 0 auto;
    width: 16rem;
    height: 10.7rem;
    min-width: 150px;
    min-height: 100px;
  }
}
.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
