.container {
  border-bottom: 1px solid #aaaaaa;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  line-height: 60px;
}

.left {
  margin: 0 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-family: var(--font-protest);
  font-size: 2rem;
  margin: 0;
  color: #111;
  text-align: center;
}
.searchWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  margin: 0 40px;
}

.profile {
  display: flex;
  align-items: center;
  border-radius: 100px;
}
