.navbar {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 0 2rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.hamburger {
  width: 32px;
  height: 32px;
  cursor: pointer;

  @media (max-width: 1400px) {
    display: block;
  }
}
.logoLink {
  display: flex;
  align-items: center;
}

.center {
  flex: 1 1 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  max-width: 380px;
  margin: 0 2vw;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex: 0 0 auto;
}
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
  display: flex;
  align-items: center;
  transition: background 0.1s;
  &:hover {
    background: #f5f5f5;
    border-radius: 50%;
  }
}
.profileIcon {
  color: #333;
}

.mobileSearchInput {
  width: 130px;
  margin-right: 0.5rem;
}

/* 모바일 반응형 */
@media (max-width: 1200px) {
  .navbar {
    // height: 54px;
    // padding: 0 2vw;
  }
  .center {
    display: none;
  }
  // .mobileSearchInput {
  //   width: 120px;
  // }
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
