/* sidebar.module.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  min-width: 200px; // Prevent shrinking
  height: 100vh; // Full height
  padding: 24px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  // justify-content: space-between; // Pushes logout to the bottom
  gap: 32px;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: auto; // Allow scrolling if content overflows
  overflow-x: hidden;
  border-right: 1px solid #eee; // Add a border

  &.closed {
    width: 72px;
    min-width: 72px;

    .sectionTitle {
      display: none;
    }

    .linkItem {
      justify-content: center;
    }

    .title {
      display: none;
    }

    .iconOnly {
      margin: 0 auto;
    }
  }

  &.mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(0);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &.closed {
      transform: translateX(-100%);
    }
  }
}

// This section will be for the main navigation links
.menuSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

// This section is for the logout button
.logoutSection {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the icon-only logout
}

.logoutButton {
  width: 100%; // Make the button take full width of its parent (.logoutSection)
}

.logoutIcon {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 8px;
  border-radius: 8px;
}

.icon {
  flex-shrink: 0;
  color: #666;
  transition: color 0.2s ease;
}

.iconOnly {
  display: flex;
  justify-content: center;
  color: #666;
  transition: color 0.2s ease;
  cursor: pointer;
}

.title {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: #333;
  transition:
    color 0.2s ease,
    font-weight 0.2s,
    font-size 0.2s;
}

.link {
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:hover {
    .icon,
    .iconOnly {
      color: var(--primary-color);
    }

    .title {
      color: var(--primary-color);
      font-weight: 700;
    }
  }
}
.link.active {
  .linkItem {
    background-color: #e6e6e695;
  }

  .icon,
  .iconOnly {
    color: var(--primary-color);
  }

  .title {
    color: var(--primary-color);
    font-weight: 700;
  }
}
