.sidebar {
  width: 220px;
  padding: 24px 40px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.sectionTitle {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);

  white-space: nowrap;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

// .label {
//   font-weight: bold;
//   margin-bottom: 8px;
// }

// .item {
//   display: flex;
//   align-items: center;
//   gap: 8px;
//   padding: 8px 0;
//   cursor: pointer;
//   font-size: 14px;
//   color: #222;
// }

// .item:hover {
//   color: #e00;
// }
