:global(.ant-tabs-left .ant-tabs-nav) {
  width: 160px !important; // 탭 영역 너비
}

:global(.ant-tabs-left .ant-tabs-tab) {
  white-space: normal !important; // 줄바꿈 허용
  word-break: keep-all !important; // 단어 단위 줄바꿈
  font-size: 14px;
  padding: 8px 12px;
  line-height: 1.4;
  height: auto !important; // 높이 자동 확장
}

// :global(.ant-tabs-left .ant-tabs-tab .ant-tabs-tab-btn) {
//   white-space: normal !important; // 진짜 텍스트 요소에 강제 적용
//   display: inline-block;
//   text-overflow: ellipsis;
// }
:global(.ant-tabs-tab .ant-tabs-tab-btn) {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: inline-block;
  width: 140px; /* 필수! 고정 너비 */
}

:global(.ant-tabs-tab[aria-selected="true"]),
:global(.menu-item[aria-selected="true"]),
:global(.button-tab[aria-selected="true"]) {
  font-weight: 700;
  color: #1677ff;
  background-color: red;
  border-left: 4px solid #1677ff;
}
