@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/pretendard/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Protest Guerrilla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 48px;
  src: url("/fonts/protest/ProtestGuerrilla-Regular.ttf") format("truetype");
}

:root {
  --font-pretendard: "Pretendard", sans-serif;
  --font-protest: "Protest Guerrilla", serif;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --letter-spacing-tight: -0.04em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.04em;

  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.8;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-pretendard);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
