// thumbnail.module.scss
.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 1.6rem;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  letter-spacing: -0.04em;
}
.previewContainer {
  display: flex;
  gap: 16px;
  // margin-bottom: 20px;
}

.thumbnailCard {
  position: relative;
  width: 120px;
  // aspect-ratio: 16 / 9;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  background-color: #f0f0f0;
  color: #999;
  font-size: 12px;
}

.uploadSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uploadButton {
  padding: 10px 16px;
  border: none;
  background-color: #fff;
  color: #666;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 0 0 1px #ddd;
}
